*,
*::before,
**::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(145, 121, 233, 0.959);
    margin: 30px;
}

.title {
    margin: 0 auto;
    width: fit-content;
    padding: 70px;
    font-size: 100px;
    color: rgb(255, 230, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.863);
}

img {
    margin-left: 500px;
    display: inline-block;
}

li {
    margin: 10px;
}

ul {
    display: inline-block;
}