body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(145, 121, 233, 0.959);
}

.title {
    font-size: 40px;
    color: rgb(255, 230, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.863);
}

.item {
    font-size: 18px;
    color: rgb(0, 25, 253);
    background-color: rgb(255, 255, 255);
}
